# Functions in Python
- A function is a block of code which only runs when it is called.
- You can pass data, known as parameters, into a function.
- A function can return data as a default.

# Creating a function
- In Python a function is defined using the `def` keyword.

In [1]:
name = "Sujata"

# def - define
def my_function():
    # Instruction
    # Hello world
    print("hello world!")

# Calling a function

In [3]:
name # Variable calling

'Sujata'

In [ ]:
my_function # Name of the function

In [5]:
my_function()

hello world!

In [7]:
def sujata():
    """
    Introduction: Hi, my name is Sujata Kumari.
    I am 22 years old. I live in Chandigarh. 
    I am an aspiring Data Analyust.
    """
    print("Hi, my name is Sujata Kumari. \n I am 22 years old. I live in Chandigarh. \n I am an aspiring Data Analyust.")

sujata()

Hi, my name is Sujata Kumari.
 I am 22 years old. I live in Chandigarh.
 I am an aspiring Data Analyust.

# Arguments
- Information can be passed into functions as arguments.
- args

In [50]:
def introduction(
        name: str,
        age: int,
        city: str,
        nationality: str,
        position: str
    ):

    print(f"My name is {name}. I am {age}. I am from {city}. I am {nationality}. I am an aspiring {position}.")

# key - value pair
## key- parameter (function definition)
## value - argument (function calling)

In [29]:
introduction("Sujata", 26, "Chandigarh", "Indian", "data Analyst")

My name is Sujata. I am 26. I am from Chandigarh. I am Indian. I am an aspiring data Analyst.

In [24]:
name = "Sujata"
age=28
city="Chandigarh"
nationality="Indian"
position="Data Analyst"

introduction(name, age, city, nationality, position)

My name is Sujata. I am 28. I am from Chandigarh. I am Indian. I am an aspiring Data Analyst.

# Parameter or Arguments?
- The terms parameter and argument can be used for the same thing: information that are passed into a function.
- A parameter is the variable listed inside the parentheses in the function definition.
- An argument is the value that is sent to the function when it is called.

# Number of arguments
- By default, a function must be called with the correct number of arguments.
- Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [30]:
introduction

In [34]:
introduction("Sujata", 26, "Chandigarh", "Indian", "data Analyst")

My name is Sujata. I am 26. I am from Chandigarh. I am Indian. I am an aspiring data Analyst.

# Arbitrary Arguments
- If you do not know how many arguments that will be passed into your function, add a `*` before the parameter name in the function definition.
- This way the function will receive a tuple of arguments, and can access the items accordingly.

In [ ]:
def my_function(*kids):
    print("The youngest child is "+ kids[2])

In [ ]:
my_function("Sujata", "Ankush", "Suraj", "Soniya") # ("Sujata", "Ankush", "Suraj", "Soniya")

The youngest child is Suraj

In [37]:
my_function()

IndexError: tuple index out of range

In [ ]:
def add_numbers(*args):
    """
    add_numbers:
        arguments: arbitrary arguments
        return: sum of arbitrary numbers
    """
    sum = 0
    for num in args:
        sum = sum + num
    return sum

add_numbers()

0

In [43]:
add_numbers(-1,0,-50,100,5000,2,3,4,5,6,7,8,9)

5093

# Keyword Arguments
- You can also send arguments with the key= value syntax.
- The way the order of the arguments does not matter.

In [44]:
def my_function(child1, child2, child3):
    print("The youngest child is" + child3)

my_function(child1="Sujata", child2="Suraj", child3="Vijay")

The youngest child isVijay

In [45]:
my_function("Sujata", "Suraj", "Vijay")

The youngest child isVijay

In [46]:
introduction("Sujata", 26, "Chandigarh", "Indian", "data Analyst")

My name is Sujata. I am 26. I am from Chandigarh. I am Indian. I am an aspiring data Analyst.

In [ ]:
introduction( 26, "Sujata", "Chandigarh", "Indian", "data Analyst")

My name is 26. I am Sujata. I am from Chandigarh. I am Indian. I am an aspiring data Analyst.

In [51]:
introduction( age=26,name="Sujata",nationality= "indian", city= "Chandigarh", position="data Analyst")

My name is Sujata. I am 26. I am from Chandigarh. I am indian. I am an aspiring data Analyst.

# Arbitrary Keyword arguments
- If you do not know how many keyword arguments that will be passed into your function, add two astericks `**` before the parameter name in the function definition.
- This way the function will receive a dictionary of arguments, and can access the items accordingly.

In [54]:
def my_function(**kid):
    print("Her last name is "+ kid["lname"])

my_function(fname="Sujata", lname="Kumari") # **kid = { "fname": "Sujata", "lname": "Kumari"}

Her last name is Kumari

In [55]:
my_function(fname="Sujata", lname="Kumari", age = 26, gender= "Female") # **kid = { "fname": "Sujata", "lname": "Kumari"}

Her last name is Kumari

In [63]:
dict_1 = {
    "k1":"v1",
    "k2":"v2"
}
dict_1

for key, value in dict_1.items():
    print(key, value)

for key in dict_1.keys():
    print(key)

for value in dict_1.values():
    print(value)

k1 v1
k2 v2
k1
k2
v1
v2

In [64]:
def add_numbers(**kwargs): # kwargs ; Keyword arguments
    """
    add_numbers:
        arguments: arbitrary arguments
        return: sum of arbitrary numbers
    """
    sum = 0
    for num in kwargs.values():
        sum = sum + num
    return sum

add_numbers(n1=10, babli_2=-40,num_3=100)

70